node_modules
dist
/packages/gatsby-plugin-argos/index.js
/packages/gatsby-plugin-argos/gatsby-node.js
/packages/gatsby-plugin-screenshot/index.js
/packages/gatsby-plugin-screenshot/gatsby-node.js
/docs
__fixtures__/screenshots/invalid.argos.json
