node_modules
pnpm-lock.yaml
pnpm-workspace.yaml
package.json
lerna.json
CHANGELOG.md
dist
/packages/gatsby-plugin-argos/index.js
/packages/gatsby-plugin-argos/gatsby-node.js
/packages/gatsby-plugin-screenshot/index.js
/packages/gatsby-plugin-screenshot/gatsby-node.js
/docs