node_modules
package.json
CHANGELOG.md
/packages/gatsby-plugin-argos/index.js
/packages/gatsby-plugin-argos/gatsby-node.js
/packages/gatsby-plugin-screenshot/index.js
/packages/gatsby-plugin-screenshot/gatsby-node.js
/packages/argos-cli/lib