name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  static:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup deps
        uses: ./.github/actions/setup-deps

      - name: Lint
        run: npm run lint

      - name: Check format
        run: npm run check-format

      - name: Check types
        run: npm run check-types

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup deps
        uses: ./.github/actions/setup-deps

      - name: Build
        run: npm run build

      - name: Upload "@argos-ci/cli" dist
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: packages/cli/dist

      - name: Upload "@argos-ci/core" dist
        uses: actions/upload-artifact@v3
        with:
          name: core-dist
          path: packages/core/dist

      - name: Upload "@argos-ci/playwright" dist
        uses: actions/upload-artifact@v3
        with:
          name: playwright-dist
          path: packages/playwright/dist

  unit:
    needs: ["build"]

    strategy:
      fail-fast: false
      matrix:
        node-version: [20]
        # node-version: [16, 18, 20]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup deps
        uses: ./.github/actions/setup-deps
        with:
          node-version: ${{ matrix.node-version }}

      - name: Download "@argos-ci/cli" dist
        uses: actions/download-artifact@v3
        with:
          name: cli-dist
          path: packages/cli/dist

      - name: Download "@argos-ci/core" dist
        uses: actions/download-artifact@v3
        with:
          name: core-dist
          path: packages/core/dist

      - name: Download "@argos-ci/playwright" dist
        uses: actions/download-artifact@v3
        with:
          name: playwright-dist
          path: packages/playwright/dist

      - name: Test
        run: npm run test

  e2e:
    needs: ["build"]

    strategy:
      fail-fast: false
      matrix:
        node-version: [20]
        os: [ubuntu-latest]
        # node-version: [16, 18, 20]
        # os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup deps
        uses: ./.github/actions/setup-deps
        with:
          node-version: ${{ matrix.node-version }}

      - name: Download "@argos-ci/cli" dist
        uses: actions/download-artifact@v3
        with:
          name: cli-dist
          path: packages/cli/dist

      - name: Download "@argos-ci/core" dist
        uses: actions/download-artifact@v3
        with:
          name: core-dist
          path: packages/core/dist

      - name: Download "@argos-ci/playwright" dist
        uses: actions/download-artifact@v3
        with:
          name: playwright-dist
          path: packages/playwright/dist

      - name: Run integration tests
        run: npm run e2e
        env:
          ARGOS_TOKEN: ${{ secrets.ARGOS_TOKEN }}
          NODE_VERSION: ${{ matrix.node-version }}
          OS: ${{ matrix.os }}
