name: Pull Request

on:
  pull_request:
    branches: [main]

jobs:
  check-commits:
    name: Check Commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check commits
        uses: wagoid/commitlint-github-action@v6
